 .allLogin {
   display: flex;
   width: 100%;
   height: 100vh;
   color: white;
   background: url('../Img/bankImg.jpg') no-repeat bottom center scroll;
   background-position: 30% 5%;
   background-size: cover;
   justify-content: center;
   align-items: center;
 }

 .login {
   display: flex;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 25px;
   width: 100%;
   height: 100%;
   max-width: 650px;
   max-height: 380px;

   background: #FFFFFF;
   box-shadow: 0px 0px 26px rgba(68, 73, 85, 0.2);
   border-radius: 20px;
 }

 .loginImg {
   height: 56.14px;
   position: relative;
   width: 268.6px;
 }

 .form {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .enterButton {
   width: 330px;
   height: 40px;
   color: white;
   background: #003BE5;
   border: 1px solid #003BE5;
   border-radius: 5px;
   cursor: pointer;
 }

 .enterButton:hover {
  width: 330px;
  height: 40px;
  color: white;
  background: #003BE5;
  border: 1px solid #003BE5;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
}

 .disabledButton {
  width: 330px;
   height: 40px;
   color: white;
   background: #003BE5;
   border: 1px solid #003BE5;
   border-radius: 5px;
   opacity: 0.5;
 }

 .inputsTexts {
   box-sizing: border-box;
   width: 330px;
   height: 40px;
   background: #FFFFFF;
   border: 1px solid #003BE5;
   border-radius: 5px;
 }

 .inputsTextss {
   box-sizing: border-box;
   width: 330px;
   height: 40px;
   background: #FFFFFF;
   border: 1px solid #003BE5;
   border-radius: 5px;
   margin-top: 5px;
   margin-bottom: 5px;
 }