/* stylelint-disable indentation */
body {
  background-attachment: fixed;
  background-image: url('../Img/bankImg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.allTable {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

}

.table {
  background: #003BE5;
  height: auto;
  margin-top: 30vh;
  width: 95%;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  border-collapse: collapse;
}


.trTable {
  margin-top: 40vh;
  padding: 10px;
}


.thTable2 {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #FFFFFF;
  width: 115px;
  height: 23px;
  border-left: 1px solid #FFFFFF;
  color: white;
}


.tdTable {
  padding: 8px;
  width: 115.56px;
  border-top: 1px solid #2FC18C;
  width: 99px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #2FC18C;
}


.desc {
  padding-right: 40px;
  padding-left: 15px;
}

.desc2 {
  padding-right: 40px;
}



.btn-edit {
  cursor: pointer;
  background: none;
  margin-right: 10px;
}


@media (max-width : 700px) {
  .thTable2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    width: 115px;
    height: 23px;
    border-left: 1px solid #FFFFFF;
    color: white;
  }

  .tdTable {
    padding: 8px;
    width: 115.56px;
    border-top: 1px solid #2FC18C;
    width: 99px;

    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #2FC18C;
  }

}


@media (max-width : 646px) {
  .thTable2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;
    width: 115px;
    height: 23px;
    border-left: 1px solid #FFFFFF;
    color: white;
  }

  .tdTable {
    padding: 5px;
    width: 115.56px;
    border-top: 1px solid #2FC18C;
    width: 99px;

    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #2FC18C;
  }
}

@media (max-width : 471px) {

.thTable2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 8px;
    color: #FFFFFF;
    width: 85px;
    height: 15px;
    border-left: 1px solid #FFFFFF;
    color: white;
  }


  .table {
    margin-top: 30vh;
    width: 110%;
    height: auto;
    background: #003BE5;
    box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    border-collapse: collapse;
  }

  .tdTable {
    /* padding: 5px; */
    width: 15.56px;
    border-top: 1px solid #2FC18C;
    width: 19px;

    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 10px;
    color: #2FC18C;
  }

  .desc {
     padding-right: 1px; 
     padding-left: 1px; 
  }
  
   .desc2 {
    padding-right: 15px;
  } 

}

@media (max-width : 320px) {
  .thTable2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 6px;
    color: #FFFFFF;
    width: 65px;
    height: 10px;
    border-left: 1px solid #FFFFFF;
    color: white;
  }
}